
<!-- Landing Page -->

<ion-content [fullscreen]="true">
  <div class="container">
    <div class="icon">
      <img class="logo" src="assets/icon/logo.png" alt="LOGO">
    </div>

    <div class="header">
        <p class="head">Welcome to App Name</p>
    </div>

    <div class="sub">
        <p class="text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque modi explicabo vel 
            velit voluptates, similique minima illum. Molestiae, minus voluptates. Dolorum 
            neque ullam veniam accusantium suscipit inventore eveniet reiciendis laudantium.
        </p>
    </div>

    <div class="buttons">
      <app-reg-btn routerLink="/registration1"></app-reg-btn>
      <app-login-btn routerLink="/login"></app-login-btn>
    </div>
  </div>
</ion-content>