
<!-- Onboard 1 Component -->

<div class="container">
  <div class="image">
    <img class="cyclone" src="assets/disasterIcons/cyclone.png">
    <img class="eq" src="assets/disasterIcons/earthquake.png">
  </div>

  <div class="img">
    <img class="flood" src="assets/disasterIcons/floods.gif">
  </div>

  <div class="header">
    <h1>Learn About Disasters</h1>
  </div>

  <div class="sub">
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut eaque quibusdam 
      accusamus laborum ad modi quis, minima quod pariatur officiis ducimus distinctio 
      iusto sed temporibus, voluptate doloremque quisquam reprehenderit accusantium.
    </p>
  </div>
</div>