
// Registration Form 2 CSS Properties

.container {
    padding: 20px;

    .forms {
        display: block;
        position: relative;
   
        top: 1rem;

        ion-item {
            --background: none;
       
            margin-top: 4%;

            border-bottom: 1.5px solid #aeaeae;
       
            ion-input.inputs {
                 color: #000;
            }
       
            ion-select.inputs {
                 color: #000;
            }
       }
       
       .note {
            display: block;
            margin-top: 6px;
            margin-left: 4%;
       
            ion-note {
                 color: rgb(255, 0, 0);
                 font-family: Tahoma;
            }
       }
       
       .btn {
            margin-top: 14.72rem;
       
            ion-button {
                 --background: #0d8713
            }
       
            .backBtn {
                 display: flexbox;
                 position: relative;
            
                 width: max-content;
                 height: 40px;
            
                 font-family: Tahoma;
                 font-size: 20px;
            }
            
            .nextBtn {
                 display: flexbox;
                 position: fixed;
                 right: 1.1rem;
       
            
                 width: max-content;
                 height: 40px;
            
                 font-family: Tahoma;
                 font-size: 20px;
            }
       }
   }
}